{% extends "layout.html.twig" %}

{% block content %}
    <div class="container"> 
		<table class="table">
			<thead>
				<tr> 
					<th>naam</th>
					<th>Aantal berichten</th>
					<th>Gemaakt op</th>
				</tr>
			</thead>
			<tbody>
			<tr>
        		<td>{{ author.name }}</td>
        		<td>{{ author.count }}</td>
        		<td>{{ author.created_at }}</td>
        	</tr>
				<tr>
				</tr>
			</tbody>
		</table> 
  		{% include 'post/_posts_table.html.twig' %}
	</div>
{% endblock %}